flows.json
[
  {
    "id": "aa7df23b2422b856",
    "type": "tab",
    "label": "Main",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "5514dd5ba84b7035",
    "type": "influxdb out",
    "z": "aa7df23b2422b856",
    "influxdb": "3d3b675b2a642d2e",
    "name": "",
    "measurement": "EC",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "organisation",
    "bucket": "bucket",
    "x": 960,
    "y": 420,
    "wires": []
  },
  {
    "id": "713f6a017492e380",
    "type": "mqtt in",
    "z": "aa7df23b2422b856",
    "name": "EC sensor",
    "topic": "msg/ec",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "b8d89d1c7cfb12c0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 680,
    "y": 420,
    "wires": [
      [
        "0add6ca50b962f46",
        "5514dd5ba84b7035",
        "cb0faedd01c601b6"
      ]
    ]
  },
  {
    "id": "e6deb553d2500be0",
    "type": "mqtt out",
    "z": "aa7df23b2422b856",
    "name": "pub pump 1",
    "topic": "msg/pump_1",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "b8d89d1c7cfb12c0",
    "x": 490,
    "y": 440,
    "wires": []
  },
  {
    "id": "46d5dbe2796c7fc9",
    "type": "mqtt out",
    "z": "aa7df23b2422b856",
    "name": "pub pump 2",
    "topic": "msg/pump_2",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "b8d89d1c7cfb12c0",
    "x": 490,
    "y": 540,
    "wires": []
  },
  {
    "id": "36203a5a26b5f4c0",
    "type": "mqtt out",
    "z": "aa7df23b2422b856",
    "name": "pub pump 3,4",
    "topic": "msg/pump_3",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "b8d89d1c7cfb12c0",
    "x": 500,
    "y": 640,
    "wires": []
  },
  {
    "id": "5bbf68b64b7428a8",
    "type": "influxdb out",
    "z": "aa7df23b2422b856",
    "influxdb": "3d3b675b2a642d2e",
    "name": "",
    "measurement": "pump_1",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "organisation",
    "bucket": "bucket",
    "x": 950,
    "y": 60,
    "wires": []
  },
  {
    "id": "d4e21d59b4974214",
    "type": "influxdb out",
    "z": "aa7df23b2422b856",
    "influxdb": "3d3b675b2a642d2e",
    "name": "",
    "measurement": "pump_2",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "organisation",
    "bucket": "bucket",
    "x": 950,
    "y": 120,
    "wires": []
  },
  {
    "id": "0add6ca50b962f46",
    "type": "debug",
    "z": "aa7df23b2422b856",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 940,
    "y": 380,
    "wires": []
  },
  {
    "id": "85c944e68009e8a6",
    "type": "debug",
    "z": "aa7df23b2422b856",
    "name": "debug 14",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 400,
    "wires": []
  },
  {
    "id": "26071db7bf7b10c0",
    "type": "debug",
    "z": "aa7df23b2422b856",
    "name": "debug 15",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 500,
    "wires": []
  },
  {
    "id": "39d227d4276b056c",
    "type": "debug",
    "z": "aa7df23b2422b856",
    "name": "debug 16",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 600,
    "wires": []
  },
  {
    "id": "92991e348fbb0f27",
    "type": "ui_switch",
    "z": "aa7df23b2422b856",
    "name": "",
    "label": "Main Flow  Water",
    "tooltip": "",
    "group": "ddccfc091602ccbe",
    "order": 1,
    "width": 7,
    "height": 2,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "0",
    "onvalueType": "num",
    "onicon": "",
    "oncolor": "",
    "offvalue": "1",
    "offvalueType": "num",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 270,
    "y": 420,
    "wires": [
      [
        "e6deb553d2500be0",
        "85c944e68009e8a6"
      ]
    ]
  },
  {
    "id": "1ba4c84e4b04c21c",
    "type": "mqtt in",
    "z": "aa7df23b2422b856",
    "name": "water tank 1",
    "topic": "msg/tank1",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "b8d89d1c7cfb12c0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 210,
    "y": 80,
    "wires": [
      [
        "964bd6879ae9fb6a",
        "aebe3a02191ee4d6"
      ]
    ]
  },
  {
    "id": "aebe3a02191ee4d6",
    "type": "influxdb out",
    "z": "aa7df23b2422b856",
    "influxdb": "3d3b675b2a642d2e",
    "name": "",
    "measurement": "water_tank_1",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "organisation",
    "bucket": "bucket",
    "x": 490,
    "y": 80,
    "wires": []
  },
  {
    "id": "964bd6879ae9fb6a",
    "type": "debug",
    "z": "aa7df23b2422b856",
    "name": "debug 24",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 40,
    "wires": []
  },
  {
    "id": "23b5a0d546a84a68",
    "type": "mqtt in",
    "z": "aa7df23b2422b856",
    "name": "water tank 2",
    "topic": "msg/tank2",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "b8d89d1c7cfb12c0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 210,
    "y": 160,
    "wires": [
      [
        "37ab28e61a27aa88",
        "cfc0dfa59c3654b9"
      ]
    ]
  },
  {
    "id": "cfc0dfa59c3654b9",
    "type": "influxdb out",
    "z": "aa7df23b2422b856",
    "influxdb": "3d3b675b2a642d2e",
    "name": "",
    "measurement": "water_tank_2",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "organisation",
    "bucket": "bucket",
    "x": 490,
    "y": 160,
    "wires": []
  },
  {
    "id": "37ab28e61a27aa88",
    "type": "debug",
    "z": "aa7df23b2422b856",
    "name": "debug 25",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 120,
    "wires": []
  },
  {
    "id": "4978867e005b78e2",
    "type": "mqtt in",
    "z": "aa7df23b2422b856",
    "name": "water tank 3",
    "topic": "msg/tank3",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "b8d89d1c7cfb12c0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 210,
    "y": 240,
    "wires": [
      [
        "4cf83f5de71aeaee",
        "1e924768357c2e85"
      ]
    ]
  },
  {
    "id": "1e924768357c2e85",
    "type": "influxdb out",
    "z": "aa7df23b2422b856",
    "influxdb": "3d3b675b2a642d2e",
    "name": "",
    "measurement": "water_tank_3",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "organisation",
    "bucket": "bucket",
    "x": 490,
    "y": 240,
    "wires": []
  },
  {
    "id": "4cf83f5de71aeaee",
    "type": "debug",
    "z": "aa7df23b2422b856",
    "name": "debug 26",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 200,
    "wires": []
  },
  {
    "id": "09c4776f66ee78d4",
    "type": "mqtt in",
    "z": "aa7df23b2422b856",
    "name": "water tank 4",
    "topic": "msg/tank4",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "b8d89d1c7cfb12c0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 210,
    "y": 320,
    "wires": [
      [
        "65c65957ee17eb74",
        "34e771a8c49763a1"
      ]
    ]
  },
  {
    "id": "34e771a8c49763a1",
    "type": "influxdb out",
    "z": "aa7df23b2422b856",
    "influxdb": "3d3b675b2a642d2e",
    "name": "",
    "measurement": "water_tank_4",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "organisation",
    "bucket": "bucket",
    "x": 490,
    "y": 320,
    "wires": []
  },
  {
    "id": "65c65957ee17eb74",
    "type": "debug",
    "z": "aa7df23b2422b856",
    "name": "debug 27",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 280,
    "wires": []
  },
  {
    "id": "245de51a1c32590c",
    "type": "ui_slider",
    "z": "aa7df23b2422b856",
    "name": "",
    "label": "Max EC value",
    "tooltip": "",
    "group": "3e38769957ded493",
    "order": 1,
    "width": 8,
    "height": 2,
    "passthru": true,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "20",
    "step": 1,
    "className": "",
    "x": 280,
    "y": 540,
    "wires": [
      [
        "26071db7bf7b10c0",
        "46d5dbe2796c7fc9"
      ]
    ]
  },
  {
    "id": "dc5298989bc17384",
    "type": "ui_slider",
    "z": "aa7df23b2422b856",
    "name": "",
    "label": "Min EC value",
    "tooltip": "",
    "group": "3e38769957ded493",
    "order": 2,
    "width": 8,
    "height": 2,
    "passthru": true,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "20",
    "step": 1,
    "className": "",
    "x": 270,
    "y": 640,
    "wires": [
      [
        "39d227d4276b056c",
        "36203a5a26b5f4c0"
      ]
    ]
  },
  {
    "id": "cb0faedd01c601b6",
    "type": "ui_gauge",
    "z": "aa7df23b2422b856",
    "name": "",
    "group": "ec9306f2404f7f10",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "EC",
    "label": "mS/cm",
    "format": "{{value}}",
    "min": 0,
    "max": "20",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 930,
    "y": 460,
    "wires": []
  },
  {
    "id": "f44c9283f2f54ef1",
    "type": "influxdb out",
    "z": "aa7df23b2422b856",
    "influxdb": "3d3b675b2a642d2e",
    "name": "",
    "measurement": "pump_34",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "organisation",
    "bucket": "bucket",
    "x": 960,
    "y": 180,
    "wires": []
  },
  {
    "id": "1bcfe432eb2eee89",
    "type": "mqtt in",
    "z": "aa7df23b2422b856",
    "name": "",
    "topic": "msg/pump_1/status",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "b8d89d1c7cfb12c0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 730,
    "y": 60,
    "wires": [
      [
        "5bbf68b64b7428a8"
      ]
    ]
  },
  {
    "id": "e6d2852de0edfc44",
    "type": "mqtt in",
    "z": "aa7df23b2422b856",
    "name": "",
    "topic": "msg/pump_2/status",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "b8d89d1c7cfb12c0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 730,
    "y": 120,
    "wires": [
      [
        "d4e21d59b4974214"
      ]
    ]
  },
  {
    "id": "4f0dbc313f195fb9",
    "type": "mqtt in",
    "z": "aa7df23b2422b856",
    "name": "",
    "topic": "msg/pump_34/status",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "b8d89d1c7cfb12c0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 730,
    "y": 180,
    "wires": [
      [
        "f44c9283f2f54ef1"
      ]
    ]
  },
  {
    "id": "0ee5d3d3c18ec351",
    "type": "inject",
    "z": "aa7df23b2422b856",
    "name": "",
    "props": [],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 90,
    "y": 540,
    "wires": [
      [
        "245de51a1c32590c"
      ]
    ]
  },
  {
    "id": "6e90ca29a8b82b28",
    "type": "inject",
    "z": "aa7df23b2422b856",
    "name": "",
    "props": [],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 90,
    "y": 640,
    "wires": [
      [
        "dc5298989bc17384"
      ]
    ]
  },
  {
    "id": "3d3b675b2a642d2e",
    "type": "influxdb",
    "hostname": "localhost",
    "port": "8086",
    "protocol": "http",
    "database": "farm",
    "name": "farm",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "1.x",
    "url": "http://localhost:8086",
    "rejectUnauthorized": true
  },
  {
    "id": "b8d89d1c7cfb12c0",
    "type": "mqtt-broker",
    "name": "",
    "broker": "broker.mqtt-dashboard.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": "",
    "credentials": {}
  },
  {
    "id": "ddccfc091602ccbe",
    "type": "ui_group",
    "name": "Pump Control",
    "tab": "6319d5b166c580fd",
    "order": 3,
    "disp": true,
    "width": 7,
    "collapse": false,
    "className": ""
  },
  {
    "id": "3e38769957ded493",
    "type": "ui_group",
    "name": "EC Control",
    "tab": "6319d5b166c580fd",
    "order": 2,
    "disp": true,
    "width": 8,
    "collapse": false,
    "className": ""
  },
  {
    "id": "ec9306f2404f7f10",
    "type": "ui_group",
    "name": "EC Value",
    "tab": "6319d5b166c580fd",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "6319d5b166c580fd",
    "type": "ui_tab",
    "name": "The Nutrients Concentration of Control System",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]